<div class="header-bottom">
    <div class="container">
        <div class="logo wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">
            <!-- <h1><a href="index.html">STYLE BLOG</a></h1>
            <p><label class="of"></label>LET'S MAKE A PERFECT STYLE<label class="on"></label></p> -->
            <div class="header-top-element">
                <ul class="heading-list">
                    <li class="list-heading centered">Konkanni</li>
                </ul>
            </div>
            <img src="../../../../../assets/images/logo11.png" class="logo-image">
            <div>
                <ul class="heading-list heading-second">
                    <li class="list-heading">Konkanni</li>
                    <li class="list-heading heading-second-list">Konkanni</li>
                    <li class="list-heading" style="visibility: hidden;">Konkanni</li>
                    <li class="list-heading heading-second-list">Konkanni</li>
                    <li class="list-heading">Konkanni</li><!-- <li>EXCAVATION OF THE RICH CULTURE HERITAGE</li> -->
                </ul>
            </div>
            <div>
                <ul class="heading-list">
                    <li class="list-sub-heading">EXCAVATION OF A RICH CULTURAL HERITAGE</li>
                </ul>
            </div>
            <div>
                <ul class="heading-list">
                    <li class="list-heading">Konkanni</li>
                    <li class="list-heading">Konkanni</li>
                    <li class="list-heading">Konkanni</li>
                    <li class="list-heading">Konkanni</li>
                    <li class="list-heading">Konkanni</li>
                </ul>
            </div>
        </div>
    </div>
</div>