<div class="technology">
    <div class="bottom-pad">
        <div class="contact-section">
            <h2 class="w3 head-size center">Register With Us</h2>
            <div class="contact-grids">
                <div class="col-md-12 contact-grid">
                    <p>Please fill in the details and be part of the konkannotri community</p>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="group-div">
                            <div class="col-md-4">
                                <label><span>*</span>FIRST NAME</label>
                                <input type="text" name="firstname" placeholder="*FIRST NAME" value="">
                                <span class="help-block"></span><br>
                            </div>
                            <div class="col-md-4">
                                <label>MIDDLE NAME</label>
                                <input type="text" name="middlename" placeholder="MIDDLE NAME" value="">
                                <span class="help-block"></span><br>
                            </div>
                            <div class="col-md-4">
                                <label><span>*</span>LAST NAME</label>
                                <input type="text" name="lastname" placeholder="*LAST NAME" value="">
                                <span class="help-block"></span><br>
                            </div>
                        </div>
                        <div class="group-div">
                            <div class="col-md-6">
                                <label><span>*</span>GENDER</label>
                                <select name="gender">
                                    <option>Select</option>
                                    <option value="0">MALE</option>
                                    <option value="1">FEMALE</option>
                                    <option value="2">OTHERS</option>
                                </select><br>
                            </div>
                            <div class="col-md-6">
                                <label><span>*</span>DATE OF BIRTH</label>
                                <input type="date" name="dob" value="" placeholder="Date of Birth">
                            </div>
                        </div>
                        <div class="col-md-12 space-btw-div group-div">
                            <div class="col-md-3"><label>I CAN </label></div>
                            <div class="col-md-2"><input type="checkbox" name="knowledge[]" value="read"><label>
                                    Read</label></div>
                            <div class="col-md-2"><input type="checkbox" name="knowledge[]" value="write"><label>
                                    Write</label></div>
                            <div class="col-md-2"><input type="checkbox" name="knowledge[]" value="talk"><label>
                                    Talk</label></div>
                            <div class="col-md-3"><label>KONKANNI</label></div>
                        </div>
                        <div class="space-btw-div group-div">
                            <div class="col-md-6">
                                <label><span>*</span>EMAIL</label>
                                <input type="email" name="email" placeholder="ENTER THE EMAIL" value=""
                                    style="margin-top: 0 !important">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-md-6">
                                <label><span>*</span>CONFIRM EMAIL</label>
                                <input type="email" name="confirmemail" placeholder="Confirm Email" value=""
                                    style="margin-top: 0 !important">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="space-btw-div group-div">
                            <div class="col-md-6 space-btw-div">
                                <label><span>*</span>PASSWORD</label>
                                <input type="password" name="password" placeholder="Enter the password" value=""
                                    style="margin-top: 0 !important">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-md-6 space-btw-div">
                                <label><span>*</span>CONFIRM PASSWORD</label>
                                <input type="password" name="confirmpassword" placeholder="Enter the password again"
                                    style="margin-top: 0 !important">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="space-btw-div group-div">
                            <div class="col-md-6"><label><span>*</span>MOBILE NUMBER</label>
                                <input type="text" name="phone" placeholder="MOBILE NUMBER" value="">
                                <span class="help-block"></span>
                            </div>
                            <div class="col-md-6">
                                <label><span>*</span>I USE THE FOLLOWING SCRIPT TO READ/WRITE KONKANNI</label>
                                <select name="language">
                                    <option>Select</option>
                                    <option value="1">ROMI</option>
                                    <option value="2">NAGARI</option>
                                    <option value="3">KANNADA</option>
                                    <option value="4">MALAYALAM</option>
                                    <option value="5">PERSO-ARABIC</option>
                                </select><br>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span>*</span>COUNTRY </label>

                            <select name="country" id="country">

                            </select><br>
                        </div>
                        <div class="col-md-6">
                            <label>STATE </label>
                            <select name="state" id="state">

                            </select><br>
                        </div>
                        <div class="col-md-6">
                            <label>MY ROLE </label>(optional)
                            <select name="role">
                                <option>Select</option>
                                <option value="1">CONTENT DEVELOPER</option>
                                <option value="2">TRANSLITERATER</option>
                                <option value="3">PROOF READER</option>
                                <option value="4">VISUALIZER</option>
                                <option value="5">EDITOR</option>
                                <option value="6">ARTICLE WRITER</option>
                                <option value="7">TRANSLATOR</option>
                                <option value="8">VIDEO EDITOR</option>
                                <option value="9">GRAPHIC DESIGNER</option>
                            </select><br>
                        </div>
                        <div class="col-md-6">
                            <label>Photo</label>(optional)
                            <input type="file" name="photo"><br>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Register">
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>