<div class="technology">
	<div class="bottom-pad">
		<div class="contact-section">
			<h2 class="w3 head-size center">LOGIN TO KONKANNOTRI</h2>
			<div class="contact-grids">
				<div class="col-md-12 contact-grid">
					
					<!-- <p>Please fill in the details to successfully register to Konkannotri</p> -->
					<form method="post">
						<div>
							<div class="col-md-12"><label>EMAIL ID</label><input type="text" name="email" placeholder="EMAIL ID" required=""><br></div>
							<div class="col-md-12"><label>PASSWORD</label><input type="password" name="password" placeholder="PASSWORD" required=""><br></div>
						</div>
						
						<div class="col-md-9">
								<input type="submit" value="Login">
						</div>
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
