<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
  <div class="panel-heading">
    <h2>HomePagge Video</h2>
    <div class="panel-ctrls" data-actions-container=""
      data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i
          class="ti ti-angle-down"></i></span></div>

  </div>
  <button class="btn btn-primary" style="margin-top: 10px;" [routerLink]="['/admin/homevideo/add/']">Add Video</button>
  <div class="panel-body no-padding" style="display: block;">
    <table class="table table-responsive" *ngIf="loaded">
      <thead>
        <tr>
          <th>Name</th>
          <th>Link</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ video.name }}</td>
          <td>{{ video.video_link }}</td>
          <td><button class="btn btn-warning" [routerLink]="['/admin/homevideo/edit/', video.id]">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
