
<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
  <div class="panel-heading">
    <h2>Applied Records</h2>
    <div class="panel-ctrls" data-actions-container=""
      data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i
          class="ti ti-angle-down"></i></span></div>

  </div>
  <!-- <button class="btn btn-primary" style="margin-top: 10px;" [routerLink]="['/admin/subnavbar/add', nav_id]">Add Subnavbar</button> -->
  <div class="panel-body no-padding" style="display: block;">
    <table class="table table-responsive" *ngIf="loaded">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Record</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nav of records">
          <td>{{ nav.first_name }}</td>
          <td>{{ nav.email }}</td>
          <td>{{ nav.phone }}</td>
          <td>{{ nav.record_name }}</td>
          <td><button class="btn btn-warning" [routerLink]="['/admin/apply-record/view', nav.id]">View</button><button class="btn btn-danger" (click)="deleteApply(nav.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
