<div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
  <div class="panel-heading">
    <h2>Sub Navbar</h2>
    <div class="panel-ctrls" data-actions-container=""
      data-action-collapse="{&quot;target&quot;: &quot;.panel-body&quot;}"><span class="button-icon has-bg"><i
          class="ti ti-angle-down"></i></span></div>

  </div>
  <button class="btn btn-primary" style="margin-top: 10px;" [routerLink]="['/admin/subnavbar/add', nav_id]">Add Subnavbar</button>
  <div class="panel-body no-padding" style="display: block;">
    <table class="table table-responsive" *ngIf="loaded">
      <thead>
        <tr>
          <th>Name</th>
          <th>Url</th>
          <th>sort order</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nav of NavList">
          <td>{{ nav.name }}</td>
          <td>{{ nav.url }}</td>
          <td>{{ nav.sort_order }}</td>
          <td>{{ nav.is_active }}</td>
          <td><button class="btn btn-warning" [routerLink]="['/admin/subnavbar/edit', nav.id, nav_id]">Edit</button><button class="btn btn-danger" (click)="deleteSubNav(nav.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
