<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop nav_icon"></i>Navbar<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a routerLink="navbar" routerLinkActive="active">View</a>
                    </li>
                    <li>
                        <a routerLink="navbar/add" routerLinkActive="active">Add</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop nav_icon"></i>News<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a routerLink="news/list" routerLinkActive="active">View</a>
                    </li>
                    <li>
                        <a routerLink="news/add" routerLinkActive="active">Add</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop nav_icon"></i>Static Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a routerLink="staticpage" routerLinkActive="active">View</a>
                    </li>
                    <li>
                        <a routerLink="staticpage/add" routerLinkActive="active">Add</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop nav_icon"></i>Images<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a routerLink="gallimage" routerLinkActive="active">View</a>
                    </li>
                    <li>
                        <a routerLink="gallimage/add" routerLinkActive="active">Add</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop nav_icon"></i>Category<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a routerLink="category" routerLinkActive="active">View</a>
                    </li>
                    <li>
                        <a routerLink="category/add" routerLinkActive="active">Add</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="#"><i class="fa fa-laptop nav_icon"></i>Record<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                  <li>
                      <a routerLink="category" routerLinkActive="active">View</a>
                  </li>
                  <!-- <li>
                      <a routerLink="record/add" routerLinkActive="active">Add</a>
                  </li> -->
              </ul>
              <!-- /.nav-second-level -->
          </li>
          <li>
            <a routerLink="apply-record" routerLinkActive="active"><i class="fa fa-laptop nav_icon"></i>Applied Records</a>
          </li>
          <li>
            <a routerLink="report-record" routerLinkActive="active"><i class="fa fa-laptop nav_icon"></i>Reported Records</a>
          </li>
          <li>
            <a routerLink="priority-app" routerLinkActive="active"><i class="fa fa-laptop nav_icon"></i>Priority Application</a>
          </li>
          <li>
            <a routerLink="invite-umpire" routerLinkActive="active"><i class="fa fa-laptop nav_icon"></i>Invite Umpire</a>
          </li>



        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
