/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import "~@ng-select/ng-select/themes/default.theme.css";

.is-invalid{
    color: red !important;
    border: 2px solid !important;
}

.valid-error{
    color: red;
}