
    <div class="col-md-2">
        <ul >
            <li class="list-head" data-toggle="collapse" data-target="#people">People</li>
            <div class="collapse" id="people">
                <li class="list-item"><a href="#" class="hyper-link">River Saraswati</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Culture</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Folklore</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Riddles</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Proverbs</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Sayings</a></li>
            </div>
            <li class="list-head" data-toggle="collapse" data-target="#language">Language</li>
            <div class="collapse" id="language">
                <li class="list-item"><a href="#" class="hyper-link">Milestones</a></li>
                <li class="list-item"><a href="#" class="hyper-link">National Literary Meets</a></li>
                <li class="list-item"><a href="#" class="hyper-link">World Conventions</a></li>
            </div>
            <li class="list-head" data-toggle="collapse" data-target="#literature">Literature</li>
            <div class="collapse" id="literature">
                <li class="list-item"><a href="#" class="hyper-link">Writers</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Poem & Poets</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Novels & Novelists</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Short Stories</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Literary Criticism</a></li>
            </div>
            <li class="list-head" data-toggle="collapse" data-target="#theatre">Theatre</li>
            <div class="collapse" id="theatre">
                <li class="list-item"><a href="#" class="hyper-link">Plays</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Play Wrights</a></li>
                <li class="list-item"><a href="#" class="hyper-link">Stage Artists</a></li>
            </div>
            <li class="list-head"><a href="#" class="hyper-link link-head">Art & Articrafts</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Films</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Music</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Journalism</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Stalwarts</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Organizations</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Marathi-Konkani Dispute</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Future of Konkani</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Featured Articles</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Downloads</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Careers</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">Advertisements</a></li>
            <li class="list-head"><a href="#" class="hyper-link link-head">News & views</a></li>
        </ul>
    </div>
    <!-- technology-left -->
    
